html {
  -ms-overflow-style: none;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}
body {
  background-color: black;
  height: 100%;
  font-family: 'SF Pro Display';
  user-select: none;
  font-style: normal;
}

.w375 {
  width: 375px;
}
.h736 {
  height: 736px;
}
.ma {
  margin: 0 auto;
}
